.tittle {
  margin-left: 50px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#title-one {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.text-P {
  margin-left: 50px;
}

.titleHeader {
  margin-right: 3px;
  display: block;
  padding-bottom: 10px;
}

form {
  margin-left: 50px;
  padding: 10px;
}

.formOne {
  margin-top: 20px;
  padding-bottom: 10px;
}

#form-controlOne {
  width: 80%;
}

.buttonsform {
  margin: 10%;
  padding-right: 10%;
}

.numberOrder {
  background: rgb(206, 206, 206);
}
