.login-panel .title {
  padding: 1.5em 0;
}

.login-panel .title>b {
  font-size: 20px;
}

.title b {
  display: block;
  padding-bottom: 10px;
}

.title p {
font-size: 12px;
}

b {
  font-weight: 700;
}
#title-one {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.search-form {
  background-color: #e5e4e4;
  padding: 29px 23px 26px;
}

.login-form {
  border: 1px solid #f0f0f0;
}

.header-login-form {
  font-size: 17px;
  padding: 29px 13px 14px;
  text-align: left;
}
.header-login-form a {
font-size: 12px;
margin-top: 10px;
}

.login-cont{
  padding: 13px 13px 26px;
}

.login-cont input {
  border: 1px solid #e6e8ed;  
  border-radius: 0;
}

.login-input{
  padding: 13px;
}

.forgot-pass {
  margin-top: -10px !important;
  margin-bottom: 11px;
  }