button {
  border: 0;
}
.p-15 {
  margin-right: 20px;
}

.p-20 {
  margin-right: 20px;
}

.logo {
  margin-left: 5%;
}

.navbar {
  font-size: 12px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
}

.search-box {
  background-color: transparent;
  border: 2px solid #ccc;
  padding: 8px 0 9px 12px;
  width: 45%;
}

.gps-icon {
  width: 1.5%;
}

.shopping-icon,
.user-icon {
  width: 2%;
}

.counter {
  font-size: 13px;
  border-radius: 18px;
  text-align: center;
  background: #dd0021;
  color: white;
}

.counter:hover {
  background: #0079d7;
}

* {
  list-style: none;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}
.top {
  margin: auto;
}

.left {
  margin-left: 0px;
  float: left !important;
}

.m-left {
  margin-left: 4px;
}

.m-right {
  margin-right: 5px;
}

.font-size-11 {
  font-size: 11px;
}

.separator {
  margin-left: 5%;
}

.bold-text {
  font-weight: bold;
}

.top-bar {
  width: 100%;
  margin-top: 0px;
  float: left;
  position: relative;
  margin-bottom: 17px;
  background: #f0f0f0;
}

.phone-section {
  width: 100%;
  padding-left: 0px;
}
