.ima-box{
   height: 100%;
   width: 120px;
   border: 1px solid #000;
   overflow: hidden;
   text-align: center; 
   margin-top: 10px;
}

.product-ima {
max-width: 110px;}

.grey-bg {
   background-color: rgba(0,0,0,.05);
}

.information-box {
   margin-top: 20px;
   margin-bottom: 20px;
}

.information-box b {
   font-size: 20px;
}

li {list-style:none; font-size:14px;}

.GeneralMenu{
	display: flex;
}

.mobile-products {
display: none;
margin-bottom: 20px;
}

.mobile-image-list {
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 1000px) {
   .desktop-table {
      display: none;
   }
   .mobile-products {
      display: block;
   }
}
 
 
 .mobile-image-list .product-ima {
   max-width: 220px;
   margin: 20px;
 }
.mobile-info-product {
font-family: "Lato", sans-serif !important;
}

.brand {
   font-size: 11px;
   text-transform: uppercase;
   font-weight: 700;
   line-height: 100%;
}

.producto h3 {
   font-size: 13px;
   width: 100%;
   font-size: 15px;
   font-weight: 700;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   margin: 0;
}

.lowPrice {
   background-color: transparent !important;
   font-size: 30px !important;
   font-weight: 600 !important;
   color: #000 !important;
}

.MuiTypography-body2 {
   font-size: 16px !important;
   font-weight: 400;
   line-height: 1.43;
   letter-spacing: 0.01071em;
}

.MuiSvgIcon-root {
   fill: currentColor;
   width: 1.6em !important;
   height: 1.6em !important;
   display: inline-block;
   font-size: 1.5rem;
   transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   flex-shrink: 0;
   user-select: none;
}

.MuiTypography-body1 {
   font-size: 1.6rem !important;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.00938em;
}


.table {
    width: 100%;
    margin-bottom: 3rem !important;
    margin-top: 10px !important;
    color: #212529;
}
.vertical-tracking {
display: none;
}

.accordion-info {
   display: none;
}

.accordion-title {
margin-bottom: 20px;
font-weight: 700;
font-size: 12px;
}
   

@media (max-width: 1000px){
   .mobile-main-header {
       display: block;
       position: relative;
       padding: 0 !important;
       /* -webkit-box-shadow: 0px 13px 13px -10px rgba(0,0,0,0.1);
       -moz-box-shadow: 0px 13px 13px -10px rgba(0,0,0,0.1);
       box-shadow: 0px 13px 13px -10px rgba(0,0,0,0.1); */
   }
   .vertical-tracking {
   display: block;
   }
   .accordion-info {
      display: block;
   }
   .client-data-desktop {
   display: none;
   }
   
}

.makeStyles-resetContainer-141 {
   padding: 24px;
   background: #0000000a !important; 
}

.bold-title {
font-weight: 700;
line-height: 20px;
}

.normal-text {
font-weight: 400;
}
   
input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
   -webkit-appearance: menulist !important;
}

.makeStyles-heading-151 {
   flex-basis: 100% !important;
   font-weight: 600 !important;
}

.MuiExpansionPanelSummary-root {
   margin: 10px 0 0 0 !important;
}