.trackingBar-box {
  padding: 24px 0;
  margin-bottom: 30px;
}

.MuiStepIcon-root.MuiStepIcon-completed {
  color: #0072ce !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #dd0021 !important;
}

.makeStyles-instructions-3 {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 30px !important;
}
/* botones de prev y next en barra de progreso*/
.makeStyles-button-2 {
  margin-right: 8px;
  display: none !important;
}

.MuiStepIcon-text {
  fill: #fff;
  font-size: 1em !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


.tracking-desktop {
display: block;
}

@media (max-width: 1000px){
  .tracking-desktop {
    display: none;
  }
}
  